//.dropshadow-orange-right-bottom
.ds {
  &-orange {
    box-shadow: -8px 8px #e68523;
    margin-bottom: 8px;
  }
  &-teal {
    box-shadow: 8px 8px #3fa294;
    margin-bottom: 8px;
  }
}

.site-content {
  padding: 0; //unset left and right padding of body content main container, this page only
}
.page-template-custom-homepage #page {
  overflow-x: hidden;
}
#hero-section {
  .food-icon-wrapper {
    display: flex;
    margin: 40px 0 30px 0;
    > img {
      width: 40px;
      height: 40px;
      margin-right: 32px;
    }
  }
}
//gray background section A
.section-a {
  position: relative;

  .col-a-1 {
    &::before {
      @media #{$non-mobile} {
        content: url("../images/chevron-vertical--left.svg");
        position: absolute;
        left: -360px;
        top: -80px;
      }
    }
  }

  .col-a-2 {
    &::after {
      @media #{$non-mobile} {
        content: url("../images/chevron--vertical-right.svg");
        position: absolute;
        right: 0;
        top: 0;
        right: -360px;
        top: -80px;
      }
    }
  }

  max-width: 100vw;
  background: #f2f2f2;

  @media #{$small-desktop-up} {
    margin-left: calc((100vw - 1320px) / 2 * -1);
    margin-right: calc((100vw - 1320px) / 2 * -1);
  }

  > .container {
    @media #{$small-desktop-up} {
      width: 1320px;
      padding: 80px 0;
    }
  }

  .content-box--white {
    background-color: $white;
    padding: 40px 32px;
    box-shadow: 0 3px 24px 0px rgba(0, 0, 0, 0.16);
  }
}

.mr-16_7 {
  @media #{$desktop}{
    margin-right: -16.6666667%;
  }
}
