$bfc-blue: #007a9f;
$bfc-teal: #3fa294;
$bfc-green: #A9CB77;
$bfc-lite-purple: #B5B7D7;
$bfc-purple: #744364;
$bfc-orange: #E68523;
$bfc-gray: #F2F2F2;
$white: #fff;

$boston-light: "Boston Light", sans-serif;
$boston-regular: "Boston Regular", "Open Sans", Georgia, sans-serif;
$boston-semibold: "Boston SemiBold", "Open Sans", Georgia, sans-serif; 
$boston-bold: "Boston Bold","Open Sans",Georgia,sans-serif;