$bfc-blue: #007a9f;
$bfc-green: #3fa294;
$bfc-purple: #744364;
$white: #fff;

$boston-light: "Boston Light", sans-serif;
$boston-regular: "Boston Regular", "Open Sans", Georgia, sans-serif;
$boston-semibold: "Boston SemiBold", "Open Sans", Georgia, sans-serif; 
$boston-bold: "Boston Bold","Open Sans",Georgia,sans-serif;